<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Sauna Suite</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename = 'css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- Chart Scripts -->
  <script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("temperature", {
            animationEnabled: true,
            theme: "dark2",
            data: [{
                type: "doughnut",
                innerRadius: "95%",
                startAngle: 54,
                dataPoints: [
                    { y: 20, color:  "#555555"},
                    { y: 40, color:  "#555555" },
                    { y: 40, color:  "#555555" }
                    ]
            }]
        });

        humidity={{curHumi}}

        var chart2 = new CanvasJS.Chart("humidity", {
            title:{
                fontColor: "#848484",
                fontSize: 70,
                horizontalAlign: "center",
                text: CanvasJS.formatNumber(humidity) + "%",
				verticalAlign: "center"
            },
            animationEnabled: true,
            theme: "dark2",
            data: [{
                type: "doughnut",
                innerRadius: "95%",
                startAngle: 54,
                dataPoints: [
                    { y: 20, color:  "#000000"},
                    { y: humidity * .8, color:  "#555555", toolTipContent: CanvasJS.formatNumber(humidity) },
                    { y: (100 - humidity) * .8, color:  "#f3f3f3", toolTipContent: null }
                    ]
            }]
        });

        chart.render();
        chart2.render();
  }
</script>

</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Sauna Suite</h1>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Humidity</h5>
              <div id="humidity" style="height: 200px; width:100%;"></div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Temperature</h5>
            <div id="temperature" style="height: 200px; width: 100%;"></div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">Statistics</h5>

            <p class="light">
              <h6>Löyly: {{loyly}}</h6><br>
              <h6>Logs: {{logs}}</h6><br>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p>In case we want a footer</p>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src = "{{ url_for('static', filename = 'js/materialize.js') }}"></script>
  <script src = "{{ url_for('static', filename = 'js/init.js') }}"></script>
  <script src = "{{ url_for('static', filename = 'js/canvasjs.min.js') }}"></script>

  </body>
</html>
